.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}
.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.3s;
}
/* Link active */
.active-link,
.nav__link:hover {
  color: var(--title-color-dark);
}
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}
/* ==========BREAKPOINTS========== */
/* Medium screen */
@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }
  .nav {
    height: var(--header-height);
  }
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  /* Show menu */
  .show-menu {
    bottom: 0;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  .nav__close {
    position: absolute;
    right: 1.3em;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
  }

  .nav__close:hover {
    color: var(--title-color-dark);
  }

  .nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: block;
  }
}
/* Small screen */
@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }
}
.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  --wrapperSize: clamp(4em, 3vmax, 7em);
  padding: 1em 2em;
  width: 100%;
  display: grid;
  --_size: 1.5rem;
  place-items: center;
}

.btns {
  display: flex;
  gap: 1em;
}

.picker:focus {
  outline: none;
}

.picker {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  height: calc(var(--wrapperSize) * 0.2);
  width: 100%;
  border: 0.2em solid hsl(var(--muted));
  box-shadow: 0 0 0.8em hsl(var(--accent) / 0.4);
  border-radius: 100vmax;
  background: linear-gradient(
    to right,
    hsl(0, 50%, 50%),
    hsl(25, 50%, 50%),
    hsl(50, 50%, 50%),
    hsl(75, 50%, 50%),
    hsl(100, 50%, 50%),
    hsl(125, 50%, 50%),
    hsl(150, 50%, 50%),
    hsl(175, 50%, 50%),
    hsl(200, 50%, 50%),
    hsl(225, 50%, 50%),
    hsl(250, 50%, 50%),
    hsl(275, 50%, 50%),
    hsl(300, 50%, 50%),
    hsl(325, 50%, 50%),
    hsl(350, 50%, 50%)
  );
}

.picker::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: calc(var(--wrapperSize) * 0.35);
  width: calc(var(--wrapperSize) * 0.35);
  border: none;
  box-shadow: 0 0 0 0.25em hsl(var(--muted)),
    0 0 0 -0.4em hsl(var(--accent) / 0.8);
  border-radius: 100vmax;
  background-color: hsl(var(--accent));
  cursor: ew-resize;
}

.picker:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.25em hsl(var(--muted)),
    0 0 0 0.45em hsl(var(--accent) / 0.8);
}

.close {
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translate(-50%, -50%);
}
